In [53]:
import numpy as np
import pandas as pd
df = pd.read_csv('data/hotels_merged.csv')
df=df.drop(columns = 'Unnamed: 0')

In [54]:
df.sort_values("hotelName", inplace = True)

In [55]:
df.drop_duplicates(subset ="hotelName", 
                     keep = 'first', inplace = True)

In [56]:
df.drop(df.columns[[10,11,12,13,14,15,16,17]],axis =1, inplace = True)

In [57]:
df.drop(df[df['priceRange']=='none'].index, axis =0, inplace = True)

df['priceRange'].unique()

df['priceRange'].replace({'$':'1', '$$':'2','$$$':'3','$$$$':'4'}
                          , inplace = True)

df['priceRange'] = pd.to_numeric(df['priceRange'])

In [58]:
df

,hotelName,url,zipcode,totalRatings,hotelRate,totalPhotos,priceRange,highlights_1,highlights_2,highlights_3
35,AC Hotel by Marriott National Harbor Washingto...,https://www.yelp.com/biz/ac-hotel-by-marriott-...,20745,81,3.5,174,2,capital wheel,Gaylord,few nights
66,AKA Virginia Square,https://www.yelp.com/biz/aka-virginia-square-a...,22201,6,3.5,11,2,none,none,none
101,AKA White House,https://www.yelp.com/biz/aka-white-house-washi...,20006,61,3.5,97,3,one bedroom,Farmers,hotel bar
129,Alexandria Motel,https://www.yelp.com/biz/alexandria-motel-alex...,22306,3,4.5,4,1,none,none,none
138,Alexandria-Towne Motel,https://www.yelp.com/biz/alexandria-towne-mote...,22314,11,4.5,11,1,DC,Keurig,Neil
...,...,...,...,...,...,...,...,...,...,...
11369,Washington Plaza Hotel,https://www.yelp.com/biz/washington-plaza-hote...,20005,229,3.5,170,2,Thomas Circle,white house,sized bed
11411,West End part of the Georgetown Collection,https://www.yelp.com/biz/west-end-part-of-the-...,20037,46,3.0,49,2,Metro,sized beds,Western
11448,WhyHotel Arlington Pentagon Columbia Pike,https://www.yelp.com/biz/whyhotel-arlington-pe...,22204,3,0.0,31,2,none,none,none
11493,William F. Bolger Center,https://www.yelp.com/biz/william-f-bolger-cent...,20854,68,3.5,143,2,Stained Glass Hall,Sarah,convent
11524,Windsor Park Hotel,https://www.yelp.com/biz/windsor-park-hotel-wa...,20008,30,3.0,63,2,mini fridge,actual keys,cable

In [59]:
df[df=='none'].count()

/opt/anaconda3/envs/python38/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

hotelName        0
url              0
zipcode          0
totalRatings     0
hotelRate        0
totalPhotos      0
priceRange       0
highlights_1    26
highlights_2    27
highlights_3    27
dtype: int64

## 1. What are the values of H2 and H3

In [60]:
df[df['highlights_2']=='none'].describe()

            zipcode  totalRatings  hotelRate  totalPhotos  priceRange
count     27.000000     27.000000  27.000000    27.000000   27.000000
mean   21026.962963     14.185185   2.777778    32.111111    1.925926
std      910.548925      8.028972   1.179418    28.069054    0.474417
min    20002.000000      2.000000   0.000000     0.000000    1.000000
25%    20030.000000      8.500000   2.500000    16.000000    2.000000
50%    20770.000000     13.000000   3.000000    31.000000    2.000000
75%    22151.500000     21.000000   3.500000    40.000000    2.000000
max    22314.000000     28.000000   4.500000   150.000000    3.000000

In [61]:
df[df['highlights_2']!='none'].describe()

            zipcode  totalRatings   hotelRate  totalPhotos  priceRange
count    214.000000    214.000000  214.000000   214.000000  214.000000
mean   20915.560748    112.341121    3.415888   145.873832    2.261682
std      983.252394    117.358727    0.583361   202.915852    0.518873
min    20001.000000     11.000000    0.000000    10.000000    1.000000
25%    20007.000000     44.500000    3.000000    54.250000    2.000000
50%    20745.000000     77.000000    3.500000    97.500000    2.000000
75%    22182.000000    139.000000    4.000000   169.750000    3.000000
max    22314.000000   1073.000000    4.500000  2029.000000    4.000000

In [62]:
h2 = df.groupby('highlights_2')['hotelName'].count()
h2.sort_values(ascending = False).head(10)

highlights_2
none                       27
DC                         10
metro                       7
Metro                       6
full kitchen                4
complimentary breakfast     3
free parking                3
living                      3
Gaylord                     2
mini fridge                 2
Name: hotelName, dtype: int64

In [63]:
h3 = df.groupby('highlights_3')['hotelName'].count()
h3.sort_values(ascending = False).head(10)

highlights_3
none             27
DC               11
metro             6
White House       6
DC area           3
National Mall     3
shopping          3
Carlton           2
free parking      2
housekeeping      2
Name: hotelName, dtype: int64

## What is H1 of the obs whose H2 or H3 is metro?

### Data Cleaning

In [64]:
df['highlights_1'].replace({'Metro':'metro', 'metro station':'metro','Metro station':'metro'}
                          , inplace = True)
df['highlights_2'].replace({'Metro':'metro', 'metro station':'metro','Metro station':'metro'}
                          , inplace = True)
df['highlights_3'].replace({'Metro':'metro', 'metro station':'metro','Metro station':'metro'}
                          , inplace = True)

In [65]:
df[df['highlights_1']=='metro']

,hotelName,url,zipcode,totalRatings,hotelRate,totalPhotos,priceRange,highlights_1,highlights_2,highlights_3
198,Americana Hotel,https://www.yelp.com/biz/americana-hotel-arlin...,22202,104,4.0,84,1,metro,DCA,little hotel
667,Capitol Hill Hotel,https://www.yelp.com/biz/capitol-hill-hotel-wa...,20003,131,4.0,196,2,metro,Supreme Court,Congress
770,Clarion Collection Hotel Arlington Court Suites,https://www.yelp.com/biz/clarion-collection-ho...,22201,49,3.0,87,2,metro,8th floor,dishwasher
1107,Comfort Inn Ballston,https://www.yelp.com/biz/comfort-inn-ballston-...,22201,39,3.0,28,2,metro,free parking,DC area
1532,Courtyard by Marriott Arlington Rosslyn,https://www.yelp.com/biz/courtyard-by-marriott...,22209,58,4.0,28,2,metro,Georgetown,30am
1637,Courtyard by Marriott Dunn Loring Fairfax,https://www.yelp.com/biz/courtyard-by-marriott...,22180,61,4.0,45,2,metro,Orange Line,DC
1733,Courtyard by Marriott New Carrollton Landover,https://www.yelp.com/biz/courtyard-by-marriott...,20785,25,3.0,46,2,metro,Redskins game,shuttle driver
1907,Courtyard by Marriott Washington Capitol Hill/...,https://www.yelp.com/biz/courtyard-by-marriott...,20003,99,3.0,68,2,metro,navy yard area,Nats game
2045,"Courtyard by Marriott Washington, DC/U.S. Capitol",https://www.yelp.com/biz/courtyard-by-marriott...,20002,86,3.5,90,2,metro,star courtyard,Au Bon Pain
2103,Crowne Plaza Crystal City - Washington D.C.,https://www.yelp.com/biz/crowne-plaza-crystal-...,22202,93,3.0,105,2,metro,free shuttles,DC area
2294,Crystal Gateway Marriott,https://www.yelp.com/biz/crystal-gateway-marri...,22202,203,3.5,219,3,metro,M Club lounge,15th
2530,DoubleTree by Hilton Hotel Washington DC - Cry...,https://www.yelp.com/biz/doubletree-by-hilton-...,22202,284,3.0,293,2,metro,Double Tree,Skydome
2757,Embassy Suites by Hilton Washington DC Chevy C...,https://www.yelp.com/biz/embassy-suites-by-hil...,20015,83,3.5,167,2,metro,shopping,Cheesecake Factory
2973,"Fairfield Inn & Suites by Marriott Washington,...",https://www.yelp.com/biz/fairfield-inn-and-sui...,20001,121,4.0,52,2,metro,downtown DC,Capital One Arena
3512,Hampton Inn & Suites Falls Church,https://www.yelp.com/biz/hampton-inn-and-suite...,22042,21,4.0,68,2,metro,large bathrooms,first floor
3627,Hampton Inn & Suites Reagan National Airport,https://www.yelp.com/biz/hampton-inn-and-suite...,22202,62,3.5,85,2,metro,D.C.,DC
3728,Hampton Inn Alexandria-Old Town/King St. Metro,https://www.yelp.com/biz/hampton-inn-alexandri...,22314,35,3.5,64,2,metro,King Street,complimentary breakfast
3762,Hampton Inn Alexandria/Pentagon South,https://www.yelp.com/biz/hampton-inn-alexandri...,22302,33,3.5,41,2,metro,outdoor pool,Short drive
3839,Hampton Inn Silver Spring,https://www.yelp.com/biz/hampton-inn-silver-sp...,20910,55,3.0,48,2,metro,most hotels,few blocks
4107,Hilton Alexandria Old Town,https://www.yelp.com/biz/hilton-alexandria-old...,22314,112,3.0,107,3,metro,downtown Alexandria,DC
4150,Hilton Arlington,https://www.yelp.com/biz/hilton-arlington-arli...,22203,80,3.0,73,2,metro,second stay,housekeeping
4330,Hilton Garden Inn Arlington/Courthouse Plaza,https://www.yelp.com/biz/hilton-garden-inn-arl...,22201,77,3.0,58,2,metro,mini fridge,AJ
4583,Hilton Garden Inn Washington DC/Bethesda,https://www.yelp.com/biz/hilton-garden-inn-was...,20814,57,3.5,87,2,metro,DC area,HGI Bethesda
6070,Hyatt Place Washington DC/White House,https://www.yelp.com/biz/hyatt-place-washingto...,20005,82,3.5,171,2,metro,uber,strip club
7302,One Washington Circle Hotel,https://www.yelp.com/biz/one-washington-circle...,20037,111,4.0,73,2,metro,sirens,stocked kitchen
7515,Red Lion Hotel Rosslyn Iwo Jima,https://www.yelp.com/biz/red-lion-hotel-rossly...,22209,97,2.5,132,2,metro,Ledo,National Mall
7660,"Renaissance Washington, DC Downtown Hotel",https://www.yelp.com/biz/renaissance-washingto...,20001,355,3.5,416,3,metro,few blocks,hotel gym
7942,Residence Inn by Marriott Alexandria Old Town ...,https://www.yelp.com/biz/residence-inn-by-marr...,22314,63,3.5,38,2,metro,DC,AMC theatre
8003,Residence Inn by Marriott Alexandria Old Town/...,https://www.yelp.com/biz/residence-inn-by-marr...,22314,73,4.0,20,2,metro,King street,Whole Foods
8064,Residence Inn by Marriott Arlington Capital View,https://www.yelp.com/biz/residence-inn-arlingt...,22202,90,4.5,111,2,metro,DC,Renaissance Hotel
8165,Residence Inn by Marriott Arlington Pentagon City,https://www.yelp.com/biz/residence-inn-by-marr...,22202,88,4.0,137,2,metro,DC,complimentary breakfast
8213,Residence Inn by Marriott Bethesda Downtown,https://www.yelp.com/biz/residence-inn-by-marr...,20814,46,4.0,48,2,metro,living,Downtown Bethesda
8597,Sheraton Pentagon City Hotel,https://www.yelp.com/biz/sheraton-pentagon-cit...,22204,247,2.5,182,2,metro,air force memorial,DC
8871,SpringHill Suites by Marriott Alexandria Old T...,https://www.yelp.com/biz/springhill-suites-by-...,22314,66,4.0,74,2,metro,free parking,quiet hotels
9356,The Embassy Inn,https://www.yelp.com/biz/the-embassy-inn-washi...,20009,53,2.0,47,2,metro,small hotel,bank
9996,The Quincy Hotel,https://www.yelp.com/biz/the-quincy-hotel-wash...,20036,74,3.5,38,2,metro,Manny,handwritten welcome
10299,The River Inn,https://www.yelp.com/biz/the-river-inn-washing...,20037,111,4.0,98,2,metro,kitchenette,White House
10455,"The Virginian Suites, an Ascend Hotel Collecti...",https://www.yelp.com/biz/the-virginian-suites-...,22209,70,3.0,95,2,metro,DC,00pm
10558,The Westin Crystal City,https://www.yelp.com/biz/the-westin-crystal-ci...,22202,110,3.5,114,2,metro,DC,workout facility
10951,TownePlace Suites by Marriott Falls Church,https://www.yelp.com/biz/towneplace-suites-by-...,22046,33,3.5,30,2,metro,free parking,few picnic tables
11246,Washington Marriott Wardman Park,https://www.yelp.com/biz/washington-marriott-w...,20008,432,3.0,349,3,metro,Wardman Tower,few days
11411,West End part of the Georgetown Collection,https://www.yelp.com/biz/west-end-part-of-the-...,20037,46,3.0,49,2,metro,sized beds,Western

In [66]:
df[(df['highlights_1']=='metro') & (df['highlights_2']=='metro')]

Empty DataFrame
Columns: [hotelName, url, zipcode, totalRatings, hotelRate, totalPhotos, priceRange, highlights_1, highlights_2, highlights_3]
Index: []

In [67]:
df[(df['highlights_2']=='metro')  &(df['highlights_3']=='metro')]

Empty DataFrame
Columns: [hotelName, url, zipcode, totalRatings, hotelRate, totalPhotos, priceRange, highlights_1, highlights_2, highlights_3]
Index: []

In [68]:
df[(df['highlights_1']=='metro') &(df['highlights_3']=='metro')]

Empty DataFrame
Columns: [hotelName, url, zipcode, totalRatings, hotelRate, totalPhotos, priceRange, highlights_1, highlights_2, highlights_3]
Index: []

> There is no duplication of metro

In [72]:
df[(df['highlights_1']=='metro') | (df['highlights_2']=='metro')
   | (df['highlights_3']=='metro')].describe()

            zipcode  totalRatings  hotelRate  totalPhotos  priceRange
count     66.000000     66.000000  66.000000    66.000000   66.000000
mean   21288.363636    103.136364   3.446970   109.787879    2.166667
std     1047.149958     92.567794   0.489339    98.893340    0.414481
min    20001.000000     11.000000   2.000000    20.000000    1.000000
25%    20024.000000     46.750000   3.000000    48.250000    2.000000
50%    22150.000000     78.500000   3.500000    79.500000    2.000000
75%    22202.000000    111.750000   4.000000   126.000000    2.000000
max    22314.000000    441.000000   4.500000   594.000000    3.000000

In [70]:
df[(df['highlights_1']!='metro') & (df['highlights_2']!='metro')
   & (df['highlights_3']!='metro')].describe()

            zipcode  totalRatings   hotelRate  totalPhotos  priceRange
count    175.000000    175.000000  175.000000   175.000000  175.000000
mean   20792.148571    100.668571    3.305714   141.931429    2.245714
std      911.941122    122.452589    0.765245   219.924245    0.559322
min    20001.000000      2.000000    0.000000     0.000000    1.000000
25%    20006.500000     30.000000    3.000000    43.000000    2.000000
50%    20740.000000     62.000000    3.500000    88.000000    2.000000
75%    22042.000000    137.000000    3.500000   169.500000    3.000000
max    22314.000000   1073.000000    4.500000  2029.000000    4.000000

### no significant effect either on priceRange or  on hotelRate

In [82]:
df['metro']=0

In [89]:
df.loc[(df['highlights_1']=='metro') |
            (df['highlights_2']=='metro')|
           (df['highlights_3']=='metro'),'metro']=1

## Effect of variables on price

In [100]:
import statsmodels.api as sm
model= sm.MNLogit(df['priceRange'], df[['hotelRate','totalRatings','totalPhotos','metro']])
answer= model.fit()
answer.summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.617131
         Iterations: 35

/opt/anaconda3/envs/python38/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "

<class 'statsmodels.iolib.summary.Summary'>
"""
                          MNLogit Regression Results
==============================================================================
Dep. Variable:             priceRange   No. Observations:                  241
Model:                        MNLogit   Df Residuals:                      229
Method:                           MLE   Df Model:                            9
Date:                Wed, 03 Jun 2020   Pseudo R-squ.:                  0.1756
Time:                        16:11:17   Log-Likelihood:                -148.73
converged:                      False   LL-Null:                       -180.41
Covariance Type:            nonrobust   LLR p-value:                 2.993e-10
================================================================================
priceRange=2       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
hotelRate        0.1914      0.203      0.945      0.345      -0.206       0.588
totalRatings     0.0028      0.021      0.135      0.893      -0.038       0.043
totalPhotos      0.0491      0.025      1.987      0.047       0.001       0.098
metro            0.4126      1.187      0.348      0.728      -1.913       2.738
--------------------------------------------------------------------------------
priceRange=3       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
hotelRate       -0.5472      0.223     -2.459      0.014      -0.983      -0.111
totalRatings     0.0103      0.021      0.494      0.621      -0.030       0.051
totalPhotos      0.0542      0.025      2.182      0.029       0.006       0.103
metro           -0.1507      1.249     -0.121      0.904      -2.600       2.298
--------------------------------------------------------------------------------
priceRange=4       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
hotelRate       -1.0295      0.282     -3.651      0.000      -1.582      -0.477
totalRatings    -0.0028      0.023     -0.125      0.901      -0.047       0.042
totalPhotos      0.0598      0.025      2.374      0.018       0.010       0.109
metro          -26.9840   7.02e+05  -3.85e-05      1.000   -1.38e+06    1.38e+06
================================================================================
"""

### interpretation

> high Pseudo R-squ.:	0.1756

> Rate & total photo is positively correlated to the priceRange between 3-4

## Effect of variableson rate

In [101]:
import statsmodels.api as sm
model1= sm.MNLogit(df['hotelRate'], df[['priceRange','totalRatings','totalPhotos','metro']])
answer1= model1.fit()
answer1.summary()

/opt/anaconda3/envs/python38/lib/python3.8/site-packages/statsmodels/discrete/discrete_model.py:4104: SpecificationWarning: endog contains values are that not int-like. Uses string representation of value. Use integer-valued endog to suppress this warning.
  warnings.warn(msg, SpecificationWarning)
/opt/anaconda3/envs/python38/lib/python3.8/site-packages/statsmodels/base/model.py:567: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warn("Maximum Likelihood optimization failed to converge. "

Warning: Maximum number of iterations has been exceeded.
         Current function value: 1.468554
         Iterations: 35

<class 'statsmodels.iolib.summary.Summary'>
"""
                          MNLogit Regression Results
==============================================================================
Dep. Variable:              hotelRate   No. Observations:                  241
Model:                        MNLogit   Df Residuals:                      217
Method:                           MLE   Df Model:                           18
Date:                Wed, 03 Jun 2020   Pseudo R-squ.:                 0.06288
Time:                        16:12:04   Log-Likelihood:                -353.92
converged:                      False   LL-Null:                       -377.67
Covariance Type:            nonrobust   LLR p-value:                 0.0001789
=================================================================================
  hotelRate=2       coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
priceRange       -0.4951      0.557     -0.890      0.374      -1.586       0.596
totalRatings      0.1391      0.074      1.892      0.058      -0.005       0.283
totalPhotos      -0.0400      0.025     -1.581      0.114      -0.090       0.010
metro            24.9225   5.39e+05   4.62e-05      1.000   -1.06e+06    1.06e+06
---------------------------------------------------------------------------------
hotelRate=2.5       coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
priceRange       -0.5709      0.498     -1.147      0.251      -1.547       0.405
totalRatings      0.1384      0.073      1.903      0.057      -0.004       0.281
totalPhotos      -0.0228      0.021     -1.069      0.285      -0.065       0.019
metro            24.5359   5.39e+05   4.55e-05      1.000   -1.06e+06    1.06e+06
---------------------------------------------------------------------------------
 hotelRate=3       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
priceRange      -0.2683      0.471     -0.570      0.569      -1.191       0.655
totalRatings     0.1315      0.073      1.811      0.070      -0.011       0.274
totalPhotos     -0.0159      0.021     -0.761      0.447      -0.057       0.025
metro           26.2490   5.39e+05   4.87e-05      1.000   -1.06e+06    1.06e+06
--------------------------------------------------------------------------------
hotelRate=3.5       coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
priceRange        0.0794      0.465      0.171      0.865      -0.833       0.992
totalRatings      0.1288      0.073      1.774      0.076      -0.013       0.271
totalPhotos      -0.0154      0.021     -0.740      0.459      -0.056       0.025
metro            25.8224   5.39e+05   4.79e-05      1.000   -1.06e+06    1.06e+06
---------------------------------------------------------------------------------
 hotelRate=4       coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
priceRange      -0.1789      0.470     -0.380      0.704      -1.101       0.743
totalRatings     0.1270      0.073      1.748      0.081      -0.015       0.269
totalPhotos     -0.0144      0.021     -0.688      0.491      -0.055       0.027
metro           26.1511   5.39e+05   4.85e-05      1.000   -1.06e+06    1.06e+06
--------------------------------------------------------------------------------
hotelRate=4.5       coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
priceRange       -0.3886      0.510     -0.762      0.446      -1.388       0.611
totalRatings      0.1060      0.073      1.447      0.148      -0.038       0.250
totalPhotos      -0.0091      0.021     -0.424      0.671      -0.051       0.033
metro            25.3990   5.39e+05   4.71e-05      1.000   -1.06e+06    1.06e+06
=================================================================================
"""