In [1]:
import numpy as np
import pandas as pd


df = pd.read_csv('data/hotels_merged.csv')

df=df.drop(columns = 'Unnamed: 0')

df.sort_values("hotelName", inplace = True) 

df.drop_duplicates(subset ="hotelName", 
                     keep = 'first', inplace = True)

df.drop(df.columns[[10,11,12,13,14,15,16,17]],axis =1, inplace = True)

In [2]:
df

,hotelName,url,zipcode,totalRatings,hotelRate,totalPhotos,priceRange,highlights_1,highlights_2,highlights_3
0,AC Hotel by Marriott - Washington,https://www.yelp.com/biz/ac-hotel-by-marriott-...,20036,3,0.0,17,none,none,none,none
35,AC Hotel by Marriott National Harbor Washingto...,https://www.yelp.com/biz/ac-hotel-by-marriott-...,20745,81,3.5,174,$$,capital wheel,Gaylord,few nights
66,AKA Virginia Square,https://www.yelp.com/biz/aka-virginia-square-a...,22201,6,3.5,11,$$,none,none,none
101,AKA White House,https://www.yelp.com/biz/aka-white-house-washi...,20006,61,3.5,97,$$$,one bedroom,Farmers,hotel bar
129,Alexandria Motel,https://www.yelp.com/biz/alexandria-motel-alex...,22306,3,4.5,4,$,none,none,none
...,...,...,...,...,...,...,...,...,...,...
11411,West End part of the Georgetown Collection,https://www.yelp.com/biz/west-end-part-of-the-...,20037,46,3.0,49,$$,Metro,sized beds,Western
11444,WhyHotel Arlington Ballston,https://www.yelp.com/biz/whyhotel-arlington-ba...,22203,14,4.0,41,none,metro,gentleman,apartments
11448,WhyHotel Arlington Pentagon Columbia Pike,https://www.yelp.com/biz/whyhotel-arlington-pe...,22204,3,0.0,31,$$,none,none,none
11493,William F. Bolger Center,https://www.yelp.com/biz/william-f-bolger-cent...,20854,68,3.5,143,$$,Stained Glass Hall,Sarah,convent
11524,Windsor Park Hotel,https://www.yelp.com/biz/windsor-park-hotel-wa...,20008,30,3.0,63,$$,mini fridge,actual keys,cable

In [5]:
df[df['priceRange']=='none'].describe()

            zipcode  totalRatings  hotelRate  totalPhotos
count     19.000000     19.000000  19.000000    19.000000
mean   20687.631579     12.210526   2.605263    45.052632
std      896.365948     18.650526   1.523692    56.058971
min    20001.000000      2.000000   0.000000     0.000000
25%    20007.000000      3.000000   2.000000    21.000000
50%    20037.000000      5.000000   3.000000    32.000000
75%    20838.500000     13.500000   3.500000    52.000000
max    22314.000000     84.000000   4.500000   264.000000

In [6]:
df[df['priceRange']!='none'].describe()

            zipcode  totalRatings   hotelRate  totalPhotos
count    241.000000    241.000000  241.000000   241.000000
mean   20928.041494    101.344398    3.344398   133.128631
std      974.207771    114.860974    0.702421   194.732841
min    20001.000000      2.000000    0.000000     0.000000
25%    20007.000000     34.000000    3.000000    45.000000
50%    20745.000000     68.000000    3.500000    85.000000
75%    22182.000000    125.000000    4.000000   165.000000
max    22314.000000   1073.000000    4.500000  2029.000000

In [17]:
df[df['priceRange']=='none']

,hotelName,url,zipcode,totalRatings,hotelRate,totalPhotos,priceRange,highlights_1,highlights_2,highlights_3
0,AC Hotel by Marriott - Washington,https://www.yelp.com/biz/ac-hotel-by-marriott-...,20036,3,0.0,17,none,none,none,none
230,Arc The Hotel,https://www.yelp.com/biz/arc-the-hotel-washing...,20037,26,2.0,49,none,none,none,none
249,Asante Sana Inn,https://www.yelp.com/biz/asante-sana-inn-washi...,20010,13,2.5,11,none,none,none,none
435,Birdhouse Bed and Breakfast,https://www.yelp.com/biz/birdhouse-bed-and-bre...,20001,2,4.5,0,none,none,none,none
449,Cambria Hotel College Park,https://www.yelp.com/biz/cambria-hotel-college...,20740,12,3.5,59,none,none,none,none
556,Canopy by Hilton Washington DC Embassy Row,https://www.yelp.com/biz/canopy-hotel-by-hilto...,20036,6,2.0,23,none,none,none,none
1942,Courtyard by Marriott Washington Downtown/Conv...,https://www.yelp.com/biz/courtyard-by-marriott...,20001,19,3.0,28,none,Residence Inn,White House,capital
2939,Fairfield Inn & Suites by Marriott Alexandria ...,https://www.yelp.com/biz/fairfield-inn-and-sui...,22312,5,3.0,25,none,none,none,none
3521,Hampton Inn & Suites Glenarden/Washington DC,https://www.yelp.com/biz/hampton-inn-and-suite...,20706,3,4.0,33,none,none,none,none
5127,Home2 Suites by Hilton Silver Spring,https://www.yelp.com/biz/home2-suites-by-hilto...,20903,4,0.0,55,none,none,none,none
5168,Homewood Suites by Hilton Arlington Rosslyn Ke...,https://www.yelp.com/biz/homewood-suites-by-hi...,22209,12,3.5,66,none,none,none,none
5200,Homewood Suites by Hilton Largo Washington DC,https://www.yelp.com/biz/homewood-suites-by-hi...,20774,2,4.0,26,none,none,none,none
5726,Hyatt Centric Old Town Alexandria,https://www.yelp.com/biz/hyatt-centric-old-tow...,22314,5,0.0,19,none,none,none,none
7217,"Moxy Washington, DC Downtown",https://www.yelp.com/biz/moxy-washington-dc-do...,20001,84,3.5,264,none,Moxy mule,free drink voucher,Khalid
8373,Residence Inn by Marriott Washington Downtown/...,https://www.yelp.com/biz/residence-inn-by-marr...,20001,14,3.5,37,none,none,none,none
8480,Riggs Washington DC,https://www.yelp.com/biz/riggs-washington-dc-w...,20004,2,3.0,12,none,none,none,none
10395,The University Inn,https://www.yelp.com/biz/the-university-inn-wa...,20037,4,3.5,32,none,none,none,none
10966,TownePlace Suites by Marriott- College Park,https://www.yelp.com/biz/towneplace-suites-by-...,20740,2,0.0,59,none,none,none,none
11444,WhyHotel Arlington Ballston,https://www.yelp.com/biz/whyhotel-arlington-ba...,22203,14,4.0,41,none,metro,gentleman,apartments

In [14]:
df[df['hotelRate']!=0].describe()

            zipcode  totalRatings   hotelRate  totalPhotos
count    252.000000    252.000000  252.000000   252.000000
mean   20914.702381     97.595238    3.394841   129.563492
std      970.418045    113.783234    0.566190   191.708568
min    20001.000000      2.000000    2.000000     0.000000
25%    20007.000000     30.750000    3.000000    42.750000
50%    20745.000000     65.000000    3.500000    80.000000
75%    22182.000000    123.250000    4.000000   161.500000
max    22314.000000   1073.000000    4.500000  2029.000000

In [13]:
df[df['hotelRate']==0].describe()

           zipcode  totalRatings  hotelRate  totalPhotos
count      8.00000       8.00000        8.0     8.000000
mean   20777.25000       7.75000        0.0    36.250000
std      981.52749       6.75595        0.0    16.412104
min    20002.00000       2.00000        0.0    17.000000
25%    20010.75000       3.00000        0.0    21.250000
50%    20388.00000       4.50000        0.0    36.000000
75%    21228.25000      10.75000        0.0    48.250000
max    22314.00000      20.00000        0.0    59.000000

In [15]:
df[df['hotelRate']==0]

,hotelName,url,zipcode,totalRatings,hotelRate,totalPhotos,priceRange,highlights_1,highlights_2,highlights_3
0,AC Hotel by Marriott - Washington,https://www.yelp.com/biz/ac-hotel-by-marriott-...,20036,3,0.0,17,none,none,none,none
5127,Home2 Suites by Hilton Silver Spring,https://www.yelp.com/biz/home2-suites-by-hilto...,20903,4,0.0,55,none,none,none,none
5726,Hyatt Centric Old Town Alexandria,https://www.yelp.com/biz/hyatt-centric-old-tow...,22314,5,0.0,19,none,none,none,none
7157,Motel 6 Washington,https://www.yelp.com/biz/motel-6-washington-wa...,20012,20,0.0,46,$$,none,none,none
7174,Motel 6 Washington DC/Convention Center,https://www.yelp.com/biz/motel-6-washington-dc...,20002,9,0.0,41,$$,none,none,none
9499,The Georgetown House,https://www.yelp.com/biz/the-georgetown-house-...,20007,16,0.0,22,$,M streets,air bnb,code
10966,TownePlace Suites by Marriott- College Park,https://www.yelp.com/biz/towneplace-suites-by-...,20740,2,0.0,59,none,none,none,none
11448,WhyHotel Arlington Pentagon Columbia Pike,https://www.yelp.com/biz/whyhotel-arlington-pe...,22204,3,0.0,31,$$,none,none,none